<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAPI Nodejs JWT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" id="txtUsername" >
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" id="txtPassword">
        </div>
        <buton class="btn btn-success" id="btnLogin">Login</buton>
    </div>
</body>
</html>

<script>
    $(document).ready(function(){
        // alert('hello world')
    });

    $('#btnLogin').click(function(){
        let username = $('#txtUsername').val();
        let password = $('#txtPassword').val();

        // console.log({username,password});

        $.ajax({
            url:'/login',
            type:'post',
            data:{
                username:username,
                password:password
            },
            success:function(data,textStatus, xhr){
                if(xhr.status == 200){
                    console.log(data);

                //opt: set token in localstorage
                localStorage.setItem("accessToken", data.accessToken);
                localStorage.setItem("refreshToken", data.refreshToken);




                // //remove token in local storage
                // localStorage.removeItem('accessToken');
                // localStorage.removeItem('refreshToken');

                // //opt: set token in cookie
                // document.cookie = "accessToken='"+data.accessToken+"'";
                // document.cookie = "refreshToken='"+data.refreshToken+"'";

                //remove cookie
                // $.removeCookie("test");




                window.location.href = '/';
                }
                
            }
        })
    });
</script>